@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pagination-container .pagination-item {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  margin: 0 0.5rem;
  cursor: pointer;
}
